// Light theme
$primary-text-light: rgba(black, 0.87);
$secondary-text-light: rgba(black, 0.54);
$disabled-text-light: rgba(black, 0.38);
$dividers-light: rgba(black, 0.12);

// Dark theme
$primary-text-dark: rgba(white, 1);
$secondary-text-dark: rgba(white, 0.7);
$disabled-text-dark: rgba(white, 0.50);
$dividers-dark: rgba(white, 0.12);

// Backgrounds
$background-black: #000000;
$background-900: #212121;
$background-850: #303030;
$background-800: #424242;

$background-300: #E0E0E0;
$background-200: #EEEEEE;
$background-100: #F5F5F5;
$background-50: #FAFAFA;
$background-0: #FFFFFF;
